[Unit]
Description=Ghost systemd service for blog: ghost-local
Documentation=https://docs.ghost.org

[Service]
Type=simple
WorkingDirectory=/var/www/blog.odopeyone.xyz/public_html
User=999
Environment="NODE_ENV=production"
ExecStart=/usr/local/bin/node /usr/local/bin/ghost run
Restart=always

[Install]
WantedBy=multi-user.target
